header {
  background-image: url("header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px;
}

body {
  background-color: #edd7f3;
}

h1 {
  font-family: 'SF Hollywood Hills';
  font-style: sans-serif;
  color: #b58fbb;
  text-align: center;
  font-size: 80px;
  margin: 0px;
}

h2 {
  font-family: 'SF Hollywood Hills';
  font-style: sans-serif;
  color: #edd7f3;
  text-align: center;
  margin: 0px;
}

h3 {
  font-family: "Abel";
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  color: #b58fbb;
  text-align: left;
}

p {
  font-family: "Abel";
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  color: #b58fbb;
  text-align: left;
}

nav {
  display: flex;
  font-family: "Abel";
  font-size: large;
  font-style: normal;
  font-weight: normal;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #b58fbb;
  text-align: left;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: #edd7f3;
  padding: 15px 30px;
  text-decoration: none;
  text-align: center;
}

li a:hover {
  text-decoration: none;
  background-color: #edd7f3;
  color: #b58fbb;
}